<div class="container">
  <div class="row">
    <div class="col">
      <h1>Editing of user</h1>
      <%= form_with model: @user, local:true do |f| %>
       <h2>name</h2>
       <%= f.text_field:name %>
       <h2>inrtoduction</h2>
       <%= f.text_area:introduction %>
       <%= f.submit"Update user", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>