<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h1>Bookersについて！</h1>
      <p>本を読んだけど内容が思い出せない、または読んだかどうかも覚えてない</p>
      <p>そんな経験ありませんか？</p>
      <p>Bookersならそんな問題は即解決できます。</p>
      <p>このサイトに読んだ本の内容や感想、または意見を投稿することで、</p>
      <p>読んだ本のことは忘れないのはもちろんのこと</p>
      <p>あなたの人生が変わります。</p>
      <p>さあ、Bookersを利用して、本の世界を堪能してみてはいかがでしょうか。</p>
    </div>
  </div>
</div>