<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>bookers</h2>
            <p>このサイトでは、個人個人が読んだ本の感想や意見を</p>
            <p>投稿するものとなっています。</p>
            <p>皆さんで本を読んで意見を出し合いましょう！</p>
        </div>
    </div>
</div>
<%= link_to "log in" ,new_user_session_path %>
<%= link_to "sign up",new_user_registration_path %>